body {
    background-color: #212121;
}

/*Menu*/
header {
    background-color: #2e2e2e;
    padding: 10px;
    padding-bottom: 15px;
    text-align: center;
}

#Titulo {
    color: #bc6ff1;
    margin-bottom: 10px;
}

a {
    color: whitesmoke;
}

a:link, :visited {
    text-decoration: none;
    padding: 10px;

}

a:hover {
    background-color: whitesmoke;
    color: #2e2e2e;
}

/*Area Principal*/
#Video {
  margin-left: 70px; 
}

.titulo_texto {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #ba7ce4;
}

.Topico {
    background-color: #3c3c3c;
    width: 700px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
}

p {
    color: azure;
}

/*Area lateral*/
.postagem {
    width: 200px;
    background-color: #3c3c3c;
}

#btt{
    background-color: whitesmoke;
    color: #2e2e2e;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
